body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow: hidden;
}

.app_background {
    background-color: black;
    background: linear-gradient(-45deg, #000000, #414141);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
    min-width: 100vw;
    min-height: 100vh;
    box-sizing: border-box;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}
.app_background::after {
  content: "";
  background-image: url("./Vector.svg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  position: fixed;
  top: -455px;
  left: -627px;
  width: 1954px;
  height: 1910px;
  filter: blur(150px);
  opacity: .5;
  animation: rotate 10s linear infinite forwards;
  transform-origin: center;
}
@keyframes rotate {

  0%,
  100% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(180deg);
  }
}
.app_background::before {
    position: fixed;
    content: "V2";
    color: rgba($color: #fff, $alpha: .04);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 200px;
    box-sizing: border-box;
    z-index: 0;
    font-weight: bold;
}

.main {
    height: 90vh;
    width: 100%;
    z-index: 1;
    box-sizing: border-box;
    position: relative;
    top: 5vh;
}

.fade-enter {
  opacity: 0;
  transform: translateY(-50px) scale(0.8);
}

.fade-enter-active {
  opacity: 1;
  transform: translateY(0) scale(1);
  transition: opacity 300ms ease-in, transform 300ms ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transform: translateY(50px) scale(0.8);
  transition: opacity 300ms ease-out, transform 300ms ease-out;
}
.error{
  color:red;
  font-weight: bold;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  animation: showError .3s ease;
}

@keyframes showError {
  from{
    transform: translateY(-25px);
    opacity: 0;
  }
  to{
    transform: translateY(0px);
    opacity: 1;
  }
}