@import '../../assets/scss/mixins.scss';

.createOrganization{
  button{
    @include button;
  }
}
.organizations{
  width: 100%;
}
.pageTitle{
  h1{
    color:var(--font_color)
  }
}
.listOrganizations{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 10px;
  row-gap: 10px;
}